@import url('component.css');

.container {
    background-color: #39BE87;
    width: 100%;
    height: 100%;
    color:white;
    position: fixed;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    /* Make sure there are always best sans Chinese fonts*/
    font-family: "Source Han Sans"/*,*/, sans-serif;
    user-select: none; 
}

#drop-container {
    margin: 20px auto;
    text-align: center;
    display: table;
}

.drop-item{
    font-size: 24px;
    font-weight: normal;

    float: none;
    display: inline-block;
    margin: 16px;

    color: rgba(255,255,255,0.8);
}

.svg-circle#compress {
    background-image: url("../asset/icon/compress.png");
}

.svg-circle#extract {
    background-image: url("../asset/icon/extract.png");
}

.svg-circle#mux {
    background-image: url("../asset/icon/mux.png");
}

.svg-circle {
    width: 130px;
    height:130px;
    background-repeat: no-repeat;
    background-position: center;
}

.svg-circle circle {
    fill: white;
    fill-opacity: 0.15;
    stroke-opacity: 0.8;
    stroke: white;
    stroke-width: 2.5px;
    stroke-dasharray: 10px;
    cx: 65;
    cy: 65;
    r: 64;
}

.svg-circle circle:hover {
    stroke-dasharray: 0px;
    stroke-opacity: 1;
    animation: fill 250ms cubic-bezier(0.4,0,0.6,1);
}

#setting-button {
    background-image: url('../asset/icon/settings.png');
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(); /* Black button sucks ,fuck u */
    width: 50px;
    height: 50px;
    display: block;
    float: right;
    animation: opacity 1.2s cubic-bezier(1,.00,.05,.30);
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#compress-container {
    background-color: #F0F0F0;
    height: 100%;
    margin-top: 50px;
}

@keyframes fill {
    from {
        stroke-dasharray: 10px;
        stroke-opacity: 1;
    }

    to {
        stroke-dasharray: 0px;
        stroke-opacity: 0.8;
    }
}

.fn-bar {
    /*display: none;*/
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: /*#39BE87*/#39BE87;
    animation: collapse 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes collapse {
    from {
        height: 100%;
    }

    to {
        height: 50px;
    }
}
