@import url('component.css');

.container {
    background-color: #39BE87;
    width: 100%;
    height: 100%;
    color: white;
    position: fixed;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    /* Make sure there are always best sans Chinese fonts*/
    font-family: "Source Han Sans SC"/*,*/, sans-serif;
    user-select: none;
}

#drop-container {
    margin: 50px auto;
    text-align: center;
    display: table;
}

.drop-item {
    font-size: 24px;
    font-weight: normal;
    line-height: 16px;

    float: none;
    display: inline-block;
    margin: 16px;

    color: rgba(255,255,255,0.8);
}

.svg-circle#compress {
    background-image: url("../asset/icon/compress.svg");
}

.svg-circle#extract {
    background-image: url("../asset/icon/extract.svg");
}

.svg-circle#mux {
    background-image: url("../asset/icon/mux.svg");
    transform: rotate(180deg);
}

.svg-circle {
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
}

.svg-circle circle {
    fill: white;
    fill-opacity: 0.15;
    stroke-opacity: 0.8;
    stroke: white;
    stroke-linecap: round;
    stroke-width: 2.5px;
    stroke-dasharray: 9.7px;
    cx: 70;
    cy: 70;
    r: 65;
}

.svg-circle circle:hover {
    stroke-dasharray: 0px;
    stroke-opacity: 1;
    animation: dash-fill 200ms cubic-bezier(0.4,0,0.6,1);
}

#setting-button{
    background-image: url('../asset/icon/settings.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    width: 50px;
    height: 50px;
    display: block;
    float: right;
    animation: opacity-0to1 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes opacity-0to1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#compress-container {
    background-color: #F0F0F0;
    height: 90%;
    margin-top: 50px;
}

@keyframes dash-fill {
    from {
        stroke-dasharray: 9.85px;
        stroke-opacity: 0.8;
    }

    to {
        stroke-dasharray: 0px;
        stroke-opacity: 1;
    }
}

.fn-bar {
    /*display: none;*/
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: /*#39BE87*/#39BE87;
    animation: collapse 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes collapse {
    from {
        height: 100%;
    }

    to {
        height: 50px;
    }
}
